@charset "utf-8";
@import url("./normalize.css");
@import url("./color_for_penguin.css");
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

*{
    font-size:15px;
    font-family: 'Kiwi Maru', serif;
}

p{
    writing-mode:vertical-rl;
}